build
dist
*.egg-info
.venv
venv
*.snap
.pybuild
*/__pycache__

#Debian
debian/emote*
debian/files
debian/debhelper-build-stamp
debian/.debhelper

# Flatpak
.flatpak-builder
/requirements.txt
flatpak-pip-generator

# Editors
.vim