[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pygobject = "==3.38.0"

[dev-packages]
black = "==19.10b0"
flake8 = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python -m emote"
