[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pygobject = "==3.36.0"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python -m emote"
