#!/usr/bin/make -f

export PYBUILD_NAME=emote
export PY3VERSION := $(shell py3versions -d)
export PYTHONDONTWRITEBYTECODE=1

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_test:
	echo "No testing to be done"

override_dh_auto_install:
	dh_auto_install

	dh_install static/com.tomjwatson.Emote.desktop usr/share/applications/
	dh_install static/emojis.csv usr/share/emote/
	dh_install static/style.css usr/share/emote/
	dh_install static/logo.svg usr/share/icons

	mv debian/emote/usr/share/icons/logo.svg debian/emote/usr/share/icons/com.tomjwatson.Emote.svg
	
	mkdir -p debian/emote/usr/lib/python3/dist-packages
	mv debian/emote/usr/lib/python3.11/dist-packages/emote debian/emote/usr/lib/python3/dist-packages/emote

	mkdir -p debian/emote/usr/lib/python3/dist-packages
	mv debian/emote/usr/lib/python3.11/dist-packages/Emote-0.0.0.egg-info debian/emote/usr/lib/python3/dist-packages/Emote-0.0.0.egg-info