[Desktop Entry]
Name=Emote
Type=Application
GenericName=Emoji picker
Comment=Modern popup emoji picker
Exec=emote
Categories=Utility;GTK;
Keywords=emoji,smiley,emoticon,icon
Icon=com.tomjwatson.Emote
Terminal=false
StartupNotify=false
X-Flatpak=com.tomjwatson.Emote
X-GNOME-Autostart-enabled=true
