#category_selector_button {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#emoji_button {
  font-size: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}

#category_label {
  font-weight: bold;
}

flowboxchild {
  outline: none;
}
