#category_selector_button {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#emoji_button {
  font-size: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}

#emoji_button:hover label {
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
  text-shadow: none;
}

#category_label {
  font-weight: bold;
}

#emoji_append_list_preview_label {
  margin: 5px;
  font-weight: bold;
}

#emoji_append_list_preview {
  margin-bottom: 10px;
  font-size: 16px;
}

frame border {
  border: none;
}

#previewed_emoji_label {
  font-size: 34px;
}

#previewed_emoji_name_label {
  font-weight: bold;
  font-size: 16px;
}
