#emoji_button {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

stackswitcher button.text-button {
  min-width: 10px;
}

flowboxchild {
  outline: none;
}
