[Desktop Entry]
Name=Emote
Type=Application
Comment=An emoji picker for the linux desktop
Exec=emote
Categories=Utility;GTK;
Keywords=emoji
Icon=${SNAP}/usr/share/icons/emote.svg
Terminal=false
