[Desktop Entry]
Name=Emote
Type=Application
Comment=Modern popup emoji picker
Exec=emote
Categories=Utility;GTK;
Keywords=emoji
Icon=${SNAP}/usr/share/icons/emote.svg
Terminal=false
